<!DOCTYPE html>
<html>
    <head>
        <script src="https://apis.mapmyindia.com/advancedmaps/v1/bp24g9bb2drp8uo5kbxxbgvjqv1mxa48/map_load?v1.1"></script>
        <style> html, body, #map {margin: 0;padding: 0;width: 100%;height: 100%;} </style>
        <title>{{ title }}</title>
        <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/doodle/48/000000/map-marker.png"/>
    </head>
    <body>
        <h1>Maps <br></h1>
            <div style="float:left; width: 50%">
                <form action="" method="post" >
                <ul>
                    {% for places in nearby_data.nearby_places %}
                			<p><br></p>
                        	<li>{{ places }}</li>
                        	<p align="left">Patience of doctor while dealing with patients  <input type="range" min="1" max="5"  name="{{places}}0" /></p>
                        	<p align="left">Professionalism of staff  <input type="range" min="1" max="5"  name="{{places}}1" /></p>
                        	<p align="left">Prompt attendance to patients  <input type="range" min="1" max="5"  name="{{places}}2" /></p>
                        	<p align="left">Level of understanding between staff and patients  <input type="range" min="1" max="5"  name="{{places}}3" /></p>
                        	<p align="left">Time management  <input type="range" min="1" max="5"  name="{{places}}4" /></p>
                        	<p align="left">I have not heard any major complaints about hospital  </p>
							<p>
								<input type="radio" name="yes_no" checked>Yes</input>
							</p>
							<p>
								<input type="radio" name="yes_no">No</input>
							</p>
                        	<p align="left">Any other issues(Please specify)<input type="text" name="{{places}}6" /></p>
                    {% endfor %}
                    <input type="submit" name="action" value="Rate" />
                </ul>
                </form>
                {% if nearby_data.username|length > 0 %}
                    <table border = 1>
                        {% for key, value in nearby_data.average.items() %}
                            <tr>
                                <th> {{ key }} </th>
                                <td> {{ value }} </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
            <div style="float:right; width: 50%;" id="map">
            </div>
        <script>
            var LatLng = {{ nearby_data.nearby_list|safe }};
            var curr_lat = {{ nearby_data.curr_lat|safe }};
            var curr_long = {{ nearby_data.curr_long|safe }};
            var nearest_route_points_list_list = {{ nearby_data.nearest_route_points_list_list|safe }};
            var map=new MapmyIndia.Map("map",{ center:[LatLng[0][1],LatLng[0][2]],zoomControl: true,hybrid:true });

            /*iterate on size of latitiude longitude set*/
            for (var i = 0; i < LatLng.length; i++) {
                new L.marker([LatLng[i][1],LatLng[i][2]])
                        .bindPopup(LatLng[i][0])
                        .addTo(map);
            }

            new L.marker([curr_lat,curr_long])
                    .bindPopup("Home")
                    .addTo(map);
            var pts = [];
            console.log(nearest_route_points_list_list);
            /* iterate on all points and draw line using them */
            for(var i=0;i<nearest_route_points_list_list.length;i++){
                pts.push(new L.LatLng(nearest_route_points_list_list[i][0], nearest_route_points_list_list[i][1]));
            }
            var poly1param = {color: "red", weight: 6, opacity: 0.5};
            var poly = new L.Polyline(pts, poly1param);
            map.addLayer(poly);

        </script>
    </body>
</html>
