<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="https://apis.mapmyindia.com/advancedmaps/v1/r93drmufp9hdkzyatqorpplhnj2dm5sq/map_load?v=01."></script>
        <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/dusk/64/000000/place-marker.png"/>
        <style> html, body, #map {margin: 0;padding: 0;width: 100%;height: 100%;} </style>
        <title>MSHack</title>
    </head>
    <body>
        <h1>Healthcare Infrastructure Facets</h1>
        <div style="float:left; width: 50%">
            <form class="" action="" method="post">
                <input type="text" name="search" placeholder="Search..">
                <input type="submit" name="search_button" value="Search..">
            </form>
            {% if data %}
                <h2>{{ data }}</h2>
            {% endif %}
        </div>
        <div style="float:right; width: 50%;" id="map">
        <div id="map"></div>;
        <script type="text/javascript">
            var req_places = {{ places.req_places|safe }};
            var full_path1 = "https://img.icons8.com/cotton/64/000000/doctors-bag.png";
            var full_path2 = "https://img.icons8.com/dusk/64/000000/deadlift.png";
            var full_path3 = "https://img.icons8.com/dusk/64/000000/healthy-food.png"
            var icon1 = L.icon({
                iconUrl: full_path1,
                iconSize: [30, 30],
                popupAnchor: [-3, -15]
                });
            var icon2 = L.icon({
                iconUrl: full_path2,
                iconSize: [30, 30],
                popupAnchor: [-3, -15]
                });
            var icon3 = L.icon({
                iconUrl: full_path3,
                iconSize: [30, 30],
                popupAnchor: [-3, -15]
                });
            if(Object.keys(req_places).length == 0){
                var map=new MapmyIndia.Map("map",{ center:[12.9716, 77.5946],zoomControl: true,hybrid:true });
            }else{
                var map=new MapmyIndia.Map("map",{ center:[parseFloat(req_places[0][1]), parseFloat(req_places[0][2])],zoomControl: true,hybrid:true });
                var nearby_fitness = {{ places.nearby_fitness|safe }};
                var nearby_health = {{ places.nearby_health|safe }};
                var nearby_nutrition = {{ places.nearby_nutrition|safe }};
                for(var i=0;i<nearby_health.length;i++){
                    new L.marker([nearby_health[i][1],nearby_health[i][2]], {icon: icon1})
                            .bindPopup(nearby_health[i][0])
                            .addTo(map);
                }
                for(var i=0;i<nearby_fitness.length;i++){
                    new L.marker([nearby_fitness[i][1],nearby_fitness[i][2]], {icon: icon2})
                            .bindPopup(nearby_fitness[i][0])
                            .addTo(map);
                }
                for(var i=0;i<nearby_nutrition.length;i++){
                    new L.marker([nearby_nutrition[i][1],nearby_nutrition[i][2]], {icon: icon3})
                            .bindPopup(nearby_nutrition[i][0])
                            .addTo(map);
                }
                new L.marker([req_places[0][1],req_places[0][2]])
                        .bindPopup(req_places[0][0] + "<h2>YOU ARE HERE</h2>")
                        .addTo(map);
            }


        </script>
    </body>
</html>
